.onHoverIcon:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Add a shadow when hovered */
    border-radius: 50%; /* Make the shadow round */
    cursor: pointer;
}

.kanban-app {
    background-image: url('./assets/bg-2.png');
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat;
    background-clip: border-box;
    background-position: center; /* Adjust as needed */
    background-attachment: fixed;
}